/*
Control repository links:
  View page source
  Edit this page
  Create child page
  Create documentation issue
  Create project issue
  Print entire section

*/

.td-page-meta--child {
    display: none !important;
}

.td-page-meta--edit {
    display: none !important;
}

.td-page-meta--view {
    display: none !important;
}
