+++
title = "oneAPI for Scientific Python Community"

+++

{{<blocks/cover title="" image_anchor="center" height="full" color="light">}}
<div class="row align-items-left mt-3 pt-3">
  <div class="col-lg-6 mt-5 mt-lg-6 d-sm-block" style="display: none">
    <img alt="Py-ninja" width="650" height="500" src="images/py-ninja.webp" />
  </div>
  <div class="col-lg-6">
    <p class="display-2 mb-0">oneAPI for Scientific Python Computing</p>
    </p>
    <a href="https://github.com/diptorupd">Diptorup Deb</a> and
    <a href="https://github.com/oleksandr-pavlyk">Oleksandr Pavlyk</a>
    </p>
    <p class="display-5 mb-0">The poster introduces ongoing work to integrate
        the Scientific Python software ecosystem with oneAPI and SYCL to
        help programmers be more productive by efficiently using accelerators
        and other parallel computing devices directly from Python.
    </p>
  </div>
</div>
<div class="col-12 pt-5">
  <div class="pt-2 lead text-center">
    <div class="mx-auto mt-5 mb-5">
      <a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/poster/quickstart" >}}">
        Get Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
      </a>
      <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/poster" >}}">
        Learn More <i class="fas fa-book-reader ml-2"></i>
      </a>
      <p class="lead mt-1"></p>
	  {{< blocks/link-down color="info" >}}
    </div>
  </div>
</div>
{{</blocks/cover>}}



{{% blocks/lead color="primary" %}}

## What is oneAPI?

[oneAPI][oneAPI] is an open standard for a unified application
programming interface (API) that delivers a common developer experience across
accelerator architectures, including multi-core CPUs, GPUs, and FPGAs.

A freely available implementation of the standard is available through
[Intel(R) oneAPI Toolkits][toolkits]. The [Intel(R) Base Toolkit][basekit] features
an industry-leading C++ compiler that implements [SYCL*][sycl], an evolution of C++
for heterogeneous computing. It also includes a suite of performance libraries, such as
Intel(R) oneAPI Math Kernel Library ([oneMKL][oneMKL]), etc, as well as
[Intel(R) Distribution for Python*][idp].

[oneAPI]: https://www.oneapi.io
[toolkits]: https://www.intel.com/content/www/us/en/developer/tools/oneapi/toolkits.html
[basekit]: https://www.intel.com/content/www/us/en/developer/tools/oneapi/base-toolkit.html
[sycl]: https://www.khronos.org/sycl/
[oneMKL]: https://www.intel.com/content/www/us/en/develop/documentation/oneapi-programming-guide/top/api-based-programming/intel-oneapi-math-kernel-library-onemkl.html
[idp]: https://www.intel.com/content/www/us/en/developer/tools/oneapi/distribution-for-python.html
[layered-architecture]: https://www.intel.com/content/www/us/en/developer/articles/technical/expanding-oneapi-support-for-languages-and-accelerators.html
[sycl-five-additions]: https://www.intel.com/content/www/us/en/developer/articles/technical/five-outstanding-additions-sycl2020.html
[base-training-modules]: https://devcloud.intel.com/oneapi/get_started/baseTrainingModules/
[dpcpp-book]: https://link.springer.com/book/10.1007%2F978-1-4842-5574-2
[julia-oneAPI]: https://github.com/JuliaGPU/oneAPI.jl

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

<!--- 
  Features:
     1. Build your own cross-platform native extension
	 2. Write data-parallel kernels in Python
	 3. Ready-to-use portable array-API library
	 4. NumPy API for heterogeneous architectures
	 5. Pythonic interface to DPC++ runtime classes
	 6. Available on conda, PyPI, and GitHub

%	 7. DLPack interoperability for arrays 
%	 8. Pythonic device offload programming model
-->

<!--- The Features Section --->
<div class="container">
    <div class="row feature-section">
      <div class="col-lg-12 center-text" style="margin-bottom: 50px">
        <h2 class="section-title">Features</h2>
      </div>
      <div class="col-lg-4">
        <div class="feature-card">
          <div class="card-header-custom">
            <img
              src="/images/kubernetes-native.svg"
              width="36px"
              class="img-card-header"
            />
            <h4 class="section-text-bold">Kubernetes Native</h4>
          </div>
          <p class="section-text">
            Fission is open source under the Apache License. It works on a
            Kubernetes cluster anywhere: in your private datacenter, in a public
            cloud, or on your laptop.
          </p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="feature-card">
          <div class="card-header-custom">
            <img
              src="/images/fast-cold.svg"
              width="36px"
              class="img-card-header"
            />
            <h4 class="section-text-bold">Fast Cold-Start</h4>
          </div>
          <p class="section-text">
            Fission maintains a configurable pool of containers, so your
            functions have very low cold-start latencies, typically ~100msec.
          </p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="feature-card">
          <div class="card-header-custom">
            <img
              src="/images/declarative.svg"
              width="36px"
              class="img-card-header"
            />
            <h4 class="section-text-bold">
              Declarative Application Specifications
            </h4>
          </div>
          <p class="section-text">
            Declarative specifications give the developer the capability to
            define a function once and then deploy it anywhere. Fission
            resources (functions, triggers etc.) can be checked into source
            control, and the application can be recreated from them.
          </p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="feature-card">
          <div class="card-header-custom">
            <img
              src="/images/administration.svg"
              width="36px"
              class="img-card-header"
            />
            <h4 class="section-text-bold">
              Administration & Operational Simplicity
            </h4>
          </div>
          <p class="section-text">
            Fission aims for operational simplicity by incorporating logs
            directly into the CLI, via integration with Fluentd. It also
            integrates with Prometheus for metrics tracking and dashboard
            visibility.
          </p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="feature-card">
          <div class="card-header-custom">
            <img src="/images/istio.svg" width="36px" class="img-card-header" />
            <h4 class="section-text-bold">Istio Service-mesh Integration</h4>
          </div>
          <p class="section-text">
            Fission integrates with Istio, which is an open platform to connect,
            manage and secure micro-services. With Istio, users also get the
            ability to monitor function usage and trace request latency through
            dashboards.
          </p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="feature-card">
          <div class="card-header-custom">
            <img
              src="/images/language.svg"
              width="36px"
              class="img-card-header"
            />
            <h4 class="section-text-bold">Wide Language Support</h4>
          </div>
          <p class="section-text">
            Fission is extensible to any programming language of your choice.
            Python, NodeJS, Go, C#, PHP are supported today, but you can build
            your own custom containers if you need to.
          </p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="feature-card">
          <div class="card-header-custom">
            <img
              src="/images/autoscaling.svg"
              width="36px"
              class="img-card-header"
            />
            <h4 class="section-text-bold">Function Autoscaling</h4>
          </div>
          <p class="section-text">
            Fission provides autoscaling for functions based on CPU usage. In
            the future, custom metrics will be also supported for scaling
            functions. You can set the initial and maximum CPU for a function
            and target CPU at which autoscaling will be triggered.
          </p>
        </div>
      </div>
    </div>
  </div>

{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
