+++
title = "oneAPI for Scientific Python Community"

+++


{{<blocks/cover title="" image_anchor="top" height="min" color="light">}}
    <div class="row align-items-left mt-3 pt-3">

        <div class="col-lg-12">
            <p class="display-2 mb-0">oneAPI for Scientific Python Community</p>
            </p>
            <a href="https://github.com/diptorupd">Diptorup Deb</a> and
            <a href="https://github.com/oleksandr-pavlyk">Oleksandr Pavlyk</a>
            </p>
            <p class="display-5 mb-0">The poster introduces ongoing work to integrate
                the Scientific Python software ecosystem with oneAPI and SYCL to
                help programmers be more productive by efficiently using accelerators
                and other parallel computing devices directly from Python.
            </p>
        </div>
    </div>
    <div class="col-12 pt-5">
        <div class="pt-2 lead text-center">
            <div class="mx-auto mt-5 mb-5">
                <a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref " /details/quickstart">}}">
                    Get Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
                </a>
                <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref " /details">}}">
                    Learn More <i class="fas fa-book-reader ml-2"></i>
                </a>
                <p class="lead mt-1"></p>
                {{< blocks/link-down color="info">}}
            </div>
        </div>
    </div>
{{</blocks/cover>}}

{{% blocks/lead color="primary" %}}

## What is oneAPI?

<u>[oneAPI][oneAPI]</u> is an open standard for a unified application
programming interface (API) that delivers a common developer experience across
accelerator architectures, including multi-core CPUs, GPUs, and FPGAs.

<img src="images/oneAPI-diagram.png" width="800" alt="oneAPI unified programming across multiple architectures" />

<p></p>

A freely available implementation of the standard is available through
<u>[Intel<sup>&reg;</sup> oneAPI Toolkits][toolkits]</u>. The <u>[Intell<sup>&reg;</sup> Base Toolkit][basekit]</u> features
an industry-leading C++ compiler that implements <u>[SYCL<sup>*</sup>][sycl]</u>, an evolution of C++
for heterogeneous computing. It also includes a suite of performance libraries, such as
Intell<sup>&reg;</sup> oneAPI Math Kernel Library (<u>[oneMKL][oneMKL]</u>), etc, as well as
<u>[Intell<sup>&reg;</sup> Distribution for Python<sup>*</sup>][idp]</u>.

[oneAPI]: https://www.oneapi.io
[toolkits]: https://www.intel.com/content/www/us/en/developer/tools/oneapi/toolkits.html
[basekit]: https://www.intel.com/content/www/us/en/developer/tools/oneapi/base-toolkit.html
[sycl]: https://www.khronos.org/sycl/
[oneMKL]:
https://www.intel.com/content/www/us/en/develop/documentation/oneapi-programming-guide/top/api-based-programming/intel-oneapi-math-kernel-library-onemkl.html
[idp]: https://www.intel.com/content/www/us/en/developer/tools/oneapi/distribution-for-python.html
[layered-architecture]:
https://www.intel.com/content/www/us/en/developer/articles/technical/expanding-oneapi-support-for-languages-and-accelerators.html
[sycl-five-additions]:
https://www.intel.com/content/www/us/en/developer/articles/technical/five-outstanding-additions-sycl2020.html
[base-training-modules]: https://devcloud.intel.com/oneapi/get_started/baseTrainingModules/
[dpcpp-book]: https://link.springer.com/book/10.1007%2F978-1-4842-5574-2
[julia-oneAPI]: https://github.com/JuliaGPU/oneAPI.jl

{{% /blocks/lead %}}


        <!---
  Features:
     1. Build your own cross-platform native extension
	 2. Write data-parallel kernels in Python
	 3. Ready-to-use portable array-API library
	 4. NumPy API for heterogeneous architectures
	 5. Pythonic interface to DPC++ runtime classes
	 6. Available on conda, PyPI, and GitHub

%	 7. DLPack interoperability for arrays
%	 8. Pythonic device offload programming model
-->

        <!--- The Features Section --->
        <div class="container">
            <div class="row feature-section">
                <div class="col-lg-12 center-text" style="margin-bottom: 50px; margin-top: 20px">
                    <h1 class="section-title"><b>Features</b></h1>
                </div>
                <div class="col-lg-4">
                    <div class="feature-card">
                        <div class="card-header-custom">
                            <img src="images/build-extensions.png" width="75px" class="img-card-header" />
                            </p>
                            <h4 class="section-text-bold">Cross-platform Native Extensions</h4>
                        </div>
                        <p class="section-text">
                            DPC++ lets you build cross-platform libraries
                            that can be run on a growing set of heterogeneous devices
                            supported by the compiler, such as Intel CPUs, GPUs, and FPGAs, 
                            and also Nvidia GPUs and AMD GPUs.
                            </p>
                            <p>
                            Our package <a href="https://intelpython.github.io/dpctl/latest/index.html">dpctl</a>
                            provides the necessary Python bindings to make a SYCL library into a
                            Python native extension and subsequently use it from Python.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="feature-card">
                        <div class="card-header-custom">
                            <img src="images/compile-kernels.png" width="75px" class="img-card-header" />
                            </p>
                            <h4 class="section-text-bold">Write Kernels Directly in Python</h4>
                        </div>
                        <p class="section-text">
                            If C++ is not your language, you can skip writing
                            data-parallel kernels in SYCL and directly write
                            them in Python.
                            </p>
                            <p>
                            Our package <a href="https://intelpython.github.io/numba-dpex/latest/index.html">numba-dpex</a>
                            extends the Numba compiler to allow kernel creation
                            directly in Python via a custom compute API.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="feature-card">
                        <div class="card-header-custom">
                            <img src="images/array-api.png" width="75px" class="img-card-header" />
                            </p>
                            <h4 class="section-text-bold">
                                Cross-architecture Array API
                            </h4>
                        </div>
                        <p class="section-text">
                            Python array library targeting conformance to core <a href="https://data-apis.org/array-api/latest/">Python Array API</a> 
                            specification.   
                            </p>
                            <p>
                            <a href="https://intelpython.github.io/dpctl/latest/docfiles/dpctl/dpctl.tensor_pyapi.html#dpctl-tensor-pyapi">dpctl.tensor</a> is a Python native
                            extension library implemented using SYCL within <a href="https://intelpython.github.io/dpctl/latest/index.html">dpctl</a>.
                            The library lets Python users get their job done using tensor operations powered by pure SYCL generic kernels for portability.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="feature-card">
                        <div class="card-header-custom">
                            <img src="images/dpnp-512x512.png" width="55px" class="img-card-header" />
                            </p>
                            <h4 class="section-text-bold">
                                NumPy API for Heterogeneous Architectures
                            </h4>
                        </div>
                        <p class="section-text">
                            <a href="https://intelpython.github.io/dpnp">dpnp</a> is a NumPy-like library that is built using oneAPI DPC++ compiler and
                            oneAPI performance libraries such as oneAPI MKL and oneAPI DPC++ Library.
                            <a href="https://intelpython.github.io/dpnp">dpnp</a> will provide cross-architecture performance portability to NumPy users
                            without requiring changes to their existing NumPy code.
                        </p>
                        <p>
                            While building on <a href="https://intelpython.github.io/dpctl/latest/docfiles/dpctl/dpctl.tensor_pyapi.html#dpctl-tensor-pyapi">dpctl.tensor</a>,
                            the <a href="https://intelpython.github.io/dpnp">dpnp</a> extends it with richer API surface,
                            as well as with linear algebra, fast Fourier transform, and random number generation submodules powered by oneMKL.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="feature-card">
                        <div class="card-header-custom">
                            <img src="images/python-package.png" width="75px" class="img-card-header" />
                            </p>
                            <h4 class="section-text-bold">Easy to Install</h4>
                        </div>
                        <p class="section-text">
                            All the data-parallel extensions for Python packages
                            are readily available for installation on conda,
                            PyPI, or github.
                        </p>
                        <p>
                            oneAPI Intel LLVM compilers, including DPC++, as well as associated runtimes are 
                            available on conda to support present and future data-parallel extensions. 
                        </p>
                    </div>
                </div>

            </div>
        </div>

{{< blocks/section>}}

{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**.
New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section>}}
